.forecast-summaries {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .forecast-summaries {
    flex-direction: column;
    justify-content: space-around;
  }
}