@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Bellota Text', cursive;
  background-color: lightgray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
